<article class="post">
      <div class="title">
        <a href="/post/{{id}}" target="_blank" id="post-title">{{title}}</a>
        <span id="post-info">({{format_url title}})</span>
      </div>
      <div class="meta" id="upvotes">
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}" id="comment-count">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>